*{
margin: 0%;
padding: 0%;
text-decoration: none;
list-style: none;
box-sizing: border-box;

}


.hero{
background-image: url(images/image1.jpg);
/*outline: 3px solid black;*/
background-repeat: no-repeat;
padding: 20em;
background-size: cover;
height: 80vh;
width: 100%;

animation-name: animate;
animation-direction: alternate-reverse;
animation-duration: 20s;
animation-fill-mode: forwards;
animation-iteration-count: infinite;
animation-play-state: running;
animation-timing-function: ease-in-out;

}
@keyframes animate{
0%{background-image: url(images/image1.jpg);}

50% {
    background-image: url(images/image3.jpg);
}

100% {
    background-image: url(images/image4.jpg);
}
}

nav{
background-color: brown;
height: 80px;
width: 100px;

}
label.logo{
color: crimson;
font-size:40px ;
line-height: 80px;
padding: 0 100px;
font-weight: bold;


}

nav ul{

    float: left;
    margin-right: 20px;
}
nav ul li{

    display: inline-block;
    line-height: 80px;
    margin: 0 5px;

}
nav ul li a{

    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;

}
a.active,a:hover{
background:#1b9bff;
transition: 2s;


}