*{
margin: 0;
padding: 0;
text-decoration: none;
list-style: none;
box-sizing: border-box;

}


.hero{
background-image: url(images/image1.jpg);
/*outline: 3px solid black;*/
background-repeat: no-repeat;
padding: 20em;
background-size:cover;
opacity: 1;
width: 100%;
max-width: 100%;
height: auto;

animation-name: animate;
animation-direction: alternate-reverse;
animation-duration: 20s;
animation-fill-mode: forwards;
animation-iteration-count: infinite;
animation-play-state: running;
animation-timing-function: ease-in-out;

}
.text{

    position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 30px;
        font-family:'Times New Roman', Times, serif;
        color: brown;
    
}
@keyframes animate{
0%{background-image: url(images/image1.jpg);}

50% {
    background-image: url(images/image3.jpg);
}

100% {
    background-image: url(images/image4.jpg);
}
}

nav{
background-color: gold;
height: 100px;
width: 100%;

}
label.logo{
color: brown;
font-size:80px ;
line-height: 80px;
padding: 0 100px;
font-weight: bold;
font-family:monospace;
float: right;

}

nav ul{

    float: left;
    margin-right: 20px;
    padding: 0px;
}
nav ul li{

    display:inline-block;
    line-height: 80px;
    margin: 0 5px;

}
nav ul li a{

    color: black;
    font-size: 20px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;

}

/*Styling menu page*/

.menu{
width: auto;
height: auto;

}
#menu img{
    width: 1000px;


}
